body {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  height: 89vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../Photo/WorldMap.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#navBar {
  position: fixed; /* Set the navbar to fixed position */
  width: 100%; /* Full width */
  background-color: gray;
}

.navbar-end {
  padding-right: 30px;
}

#paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: white;
}

#country-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 75vh; */
  /* padding-bottom: 75%; */
}

#gitHubLink {
  align-items: flex-start;
}

#footer {
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0;
  width: 100%; /* Full width */
  height: 5%;
  padding: 3rem;
  padding-top: 20px;
  background-color: gray;
}
